

<div class=masthead>
    <ul class="language-nav">
        <a>CSS</a>
        <a>HTML</a>
        <a>Javascript</a>
        <a>Ruby</a>
    </ul>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="aatimes logo"/>
   
   <ul class="masthead-links">
        <li>
            <button>Tuesday, October 18, 2016</button>
        </li>
        <li class="has_icon">
            <i class="far fa-newspaper"></i>
            <button>Today’s Paper</button>
        </li>
        <li class="has_icon">
            <i class="fas fa-video"></i>
            <button>Video</button>
        </li>
        <li>
            <button>77°F</button>
        </li>
        <li>
            <button>AAO <strong>+100%</strong></button>
        </li>
   </ul>
</div>



